<html>
	<head>
		<title> Correlation Chart </title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style3.css') }}">
	</head>
	<body>
	<form class="form" action="." method="POST">
		<h1 class="title">Correlation Chart Computation</a></h1>
		<br>
		<p class="ticker"><strong>{{error_str}}</strong></p>  
		
	</form>
	<p style="margin-top:-35px;text-align:center;color:#aaa;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">By <a style="text-decoration:none;color:#aaa;" >S&eacutebastien Tiess&eacute 2015</a></p>
	</body>
</html>
</html>